<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BuscaEmprego</title>
    <link href="~/Imagens/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("BuscaEmprego", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @if ((Session["tipo_usuario"] != null && Session["tipo_usuario"] == "2") || Session["tipo_usuario"] == null)
                        {
                        <li>@Html.ActionLink("Buscar Vagas", "About", "Home")</li>
                        }
                        @if (Session["tipo_usuario"] != null && int.Parse(Session["tipo_usuario"].ToString()) == 0)
                        {
                            <li>@Html.ActionLink("Cadastrar Vaga", "Create", "Vaga")</li>
                            <li>@Html.ActionLink("Acompanhar Vagas", "AcompanharVaga", "Vaga")</li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BuscaEmprego</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
