@model BuscaEmprego.Models.BuscaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Buscar Vagas";
}

<script type="text/javascript">
    function detalhar(id) {
        window.location = '@Url.Action("Detalhes", "Vagas")' + "?idVaga=" + id;
    }
</script>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Encontre vagas do Tipo e com as palavras-chave que deseja preenchendo o formulário abaixo.</p>
@using (Html.BeginForm("Buscar", "Vagas", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-busca form-inline", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.TipoVaga, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.TipoVaga, BuscaEmprego.Helpers.DropDownHelper.GetDropdownTipoVaga(),
           new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Query, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Query, String.Empty, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Buscar" />
    </div>
}
@if (Model.CodigoResultado == BuscaEmprego.Enumerators.CodigoResultadoEnum.ERRO)
{
    <div class="alert alert-danger">@Model.Mensagem</div>
}
else
{
    if (Model.Vagas.Count == 0)
    {
        @Html.Label("Nenhuma vaga encontrada com esses parâmetros.")
    }
    else
    {
        <div class="card-columns">
            @foreach (var vaga in Model.Vagas)
            {
            <div class="card">
                <div class="card-header">@Html.Label(vaga.TipoVaga.ToString())</div>
                <div class="card-block">
                    <h4 class="card-title">@Html.Label(vaga.EmailEmpresa)</h4>
                    <p class="card-text">@Html.Label(vaga.Descricao)</p>
                    <a href="#" onclick='detalhar("@vaga.Id")' class="btn btn-primary">Detalhes</a>
                </div>
            </div>
            }
        </div>
    }
}
