@model BuscaEmprego.Models.BuscaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Buscar Vagas";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Encontre vagas do Tipo e com as palavras-chave que deseja preenchendo o formulário abaixo.</p>
@using (Html.BeginForm("Buscar", "Vagas", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.TipoVaga, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.TipoVaga, BuscaEmprego.Helpers.DropDownHelper.GetDropdownTipoVaga(),
           new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Query, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Query, String.Empty, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Buscar" />
        </div>
    </div>
}
@if (Model.Vagas.Count == 0)
{
    <div class="alert alert-danger">@Model.Mensagem</div>
}
else
{
    foreach (var vaga in Model.Vagas)
    {
        <div class="vaga-card w3-card-8">
            @Html.Label(vaga.Descricao)<br>

            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" value="Detalhes" />
            </div>
        </div>
    }
}