@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>As melhores vagas do mercado estão aqui!</h1>
            </hgroup>
            <p>
                Encontre as melhores vagas disponíveis no mercado.
            </p>
            <p>
                Encontre vagas facilmente escolhendo os perfis de seu interesse no momento do cadastro.
            </p>
        </div>
    </section>
}

@if (Session["tipo_usuario"] != null && int.Parse(Session["tipo_usuario"].ToString()) == 2)
{
    <h3>Sugestão de vagas para seu perfil:</h3>
}
@if (Session["tipo_usuario"] != null && int.Parse(Session["tipo_usuario"].ToString()) == 2)
{

    var vagasPerfil = ViewBag.VagasPerfil as List<BuscaEmprego.Database.Vaga>;
    if (vagasPerfil.Count > 0)
    {
        foreach (var item in vagasPerfil)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Perfil da Vaga: @Html.Label(String.Join(", ", item.Perfil.Select(x => x.Nome).ToList()))</h4>
                    </div>
                    <div class="card-block">
                        <p class="card-text">Descrição: @Html.Label(item.Descricao)</p>
                        <p class="card-text">Salário: @Html.Label(item.Salario.ToString())</p>
                        <p class="card-text">Benefícios: @Html.Label(item.Beneficios)</p>
                        <input type="button" class="btn btn-default" value="Detalhes da vaga" onclick="window.location = '@Url.Action("Details", "Vaga", new { id = @item.Id })'" />
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Nenhuma vaga cadastrada para seu perfil</p>
    }
}
<p class="clear-fix">&nbsp;</p>
<h3>Vagas disponíveis no site:</h3>
<div class="row">
    @{
        var vagas = ViewBag.Vagas as List<BuscaEmprego.Database.Vaga>;
        if (vagas.Count > 0)
        {
            foreach (var item in vagas)
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Perfil da Vaga: @Html.Label(String.Join(", ", item.Perfil.Select(x => x.Nome).ToList()))</h4>
                        </div>
                        <div class="card-block">
                            <p class="card-text">Descrição: @Html.Label(item.Descricao)</p>
                            <p class="card-text">Salário: @Html.Label(item.Salario.ToString())</p>
                            <p class="card-text">Benefícios: @Html.Label(item.Beneficios)</p>
                            <input type="button" class="btn btn-default" value="Detalhes da vaga" onclick="window.location = '@Url.Action("Details", "Vaga", new { id = @item.Id })'" />
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Nenhuma vaga ativa atualmente.</p>
        }
    }
</div>
