@{
    ViewBag.Title = "Busca Emprego";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>As melhores vagas do mercado estão aqui!</h1>
            </hgroup>
            <p>
                Encontre as melhores vagas disponíveis no mercado.
            </p>
            <p>
                Encontre vagas facilmente escolhendo os perfis de seu interesse no momento do cadastro.
            </p>
        </div>
    </section>
}
<h3>Vagas disponíveis no site:</h3>
@{
    var vagas = ViewBag.VagasPerfil as List<BuscaEmprego.Database.Vaga>;
    if (vagas.Count > 0)
    {
        foreach (var item in vagas)
        {
            <div class="card">
                @Html.Label(item.Descricao)
                @Html.Label(item.Salario.ToString())
                @Html.Label(item.Beneficios)
                <input type="button" value="Detalhes da vaga" onclick="window.location = '@Url.Action("Details", "Vaga", new { id = @item.Id })'" />
            </div>
        }
    }
    else
    {
        <p>Nenhuma vaga ativa atualmente.</p>
    }
}

@if (Session["tipo_usuario"] != null && int.Parse(Session["tipo_usuario"].ToString()) == 2)
{
    <h3>Sugestão de vagas para seu perfil:</h3>
}
@if (Session["tipo_usuario"] != null && int.Parse(Session["tipo_usuario"].ToString()) == 2)
{

    var vagasPerfil = ViewBag.VagasPerfil as List<BuscaEmprego.Database.Vaga>;
    if (vagasPerfil.Count > 0)
    {
        foreach (var item in vagasPerfil)
        {
            <div class="card">
                @Html.Label(item.Descricao)
                @Html.Label(item.Salario.ToString())
                @Html.Label(item.Beneficios)
                <input type="button" value="Detalhes da vaga" onclick="window.location = '@Url.Action("Details", "Vaga", new { id = @item.Id })'" />
            </div>
        }
    }
    else
    {
        <p>Nenhuma vaga cadastrada para seu perfil</p>
    }
}
