@model BuscaEmprego.Database.Usuario

<h2>Entre com sua conta no BuscaEmprego.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Senha)
                @Html.PasswordFor(m => m.Senha)
                @Html.ValidationMessageFor(m => m.Senha)
            </li>
        </ol>
        <input type="submit" value="Entrar" />
    </fieldset>
    <p>
        @Html.ActionLink("Registre-se", "Register") se não tem uma conta.
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
