@model BuscaEmprego.Models.UsuarioViewModel
@{
    ViewBag.Title = "Nova Conta";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Criar uma conta no BuscaEmprego</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <h4>Dados Pessoais</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.TipoUsuario, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.TipoUsuario, BuscaEmprego.Helpers.DropDownHelper.GetDropdownTipoUsuario(),
           new { @class = "form-control", id = "usuario-tipo" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group" id="usuario-cpf-control">
        @Html.LabelFor(m => m.CPF, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CPF, new { @class = "form-control", id = "usuario-cpf", maxlength = 11 })
    </div>
    <div class="form-group" id="usuario-cnpj-control">
        @Html.LabelFor(m => m.CNPJ, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control", id = "usuario-cnpj", maxlength = 14 })
    </div>

    <h4>Dados de Localização</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Endereco.CEP, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Endereco.CEP, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Endereco.Logradouro, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Endereco.Logradouro, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Endereco.Complemento, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Endereco.Complemento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Endereco.Tipo, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Endereco.Tipo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Endereco.Telefone, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Endereco.Telefone, new { @class = "form-control" })
    </div>

    <h4>Dados de Acesso</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        $("#usuario-cpf-control").show();
        $("#usuario-cnpj-control").hide();
    });
    $("#usuario-tipo").change(function () {
        if ($(this).val() == "Usuario") {
            $("#usuario-cpf-control").show();
            $("#usuario-cnpj-control").hide();
        } else {
            $("#usuario-cpf-control").hide();
            $("#usuario-cnpj-control").show();
        }
    });
</script>
