@model BuscaEmprego.Database.Vaga

@{
    ViewBag.Title = "Cadastro de Vagas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crie uma nova oportunidade no BuscaEmprego</h2>

@{ Html.RenderPartial("~/Views/Shared/_MessagePartial.cshtml"); }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Vaga</legend>

        @Html.HiddenFor(model => model.Empresa_Id, "Usuario")

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo_Id, "Tipo de Vaga")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Tipo_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Tipo_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salario)
            @Html.ValidationMessageFor(model => model.Salario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Beneficios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Beneficios)
            @Html.ValidationMessageFor(model => model.Beneficios)
        </div>

        <h4>Dados de Perfil</h4>
        <div class="form-group">
            @{
                var perfis = BuscaEmprego.Helpers.PerfilHelper.PopularPerfil();
                for (int i = 0; i < perfis.Count; i++)
                {
                    string check = Model.Perfil.Where(x => x.Id == perfis.ElementAt(i).Id).FirstOrDefault() != null ? "checked" : "";
                    <div>
                        <input type="checkbox" name="check_perfil" value="@perfis.ElementAt(i).Id" @check />
                        @Html.DisplayFor(x => perfis.ElementAt(i).Nome)
                    </div>
                }
            }
        </div>

        <p>
            <input type="submit" value="Criar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para o inicio", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
