@model BuscaEmprego.Database.Vaga

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vaga</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Empresa_Id, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Empresa_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Empresa_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo_Id, "Tipo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Tipo_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Tipo_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salario)
            @Html.ValidationMessageFor(model => model.Salario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Beneficios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Beneficios)
            @Html.ValidationMessageFor(model => model.Beneficios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativa)
            @Html.ValidationMessageFor(model => model.Ativa)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para a lista", "Find")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
