@model BuscaEmprego.Database.Vaga

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vaga</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Empresa_Id)
        @Html.HiddenFor(model => model.Tipo_Id)
        @Html.HiddenFor(model => model.Descricao)
        @Html.HiddenFor(model => model.Beneficios)

        @Html.HiddenFor(model => model.Data_Cadastro)
        @Html.HiddenFor(model => model.Data_Preenchimento_Vaga)
        @Html.HiddenFor(model => model.Data_Ativacao)

        <div class="editor-label">
            @Html.LabelFor(model => model.Empresa_Id, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Empresa_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Empresa_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo_Id, "Tipo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Tipo_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Tipo_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salario)
            @Html.ValidationMessageFor(model => model.Salario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Beneficios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Beneficios)
            @Html.ValidationMessageFor(model => model.Beneficios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativa)
            @Html.ValidationMessageFor(model => model.Ativa)
        </div>

        <h4>Dados de Perfil</h4>
        <div class="form-group">
            @{
                var perfis = BuscaEmprego.Helpers.PerfilHelper.PopularPerfil();
                for (int i = 0; i < perfis.Count; i++)
                {
                    string check = Model.Perfil.Where(x => x.Id == perfis.ElementAt(i).Id).FirstOrDefault() != null ? "checked" : "";
                    <div>
                        <input type="checkbox" name="check_perfil" value="@perfis.ElementAt(i).Id" @check />
                        @Html.DisplayFor(x => perfis.ElementAt(i).Nome)
                    </div>
                }
            }
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para a lista", "Find")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
