@model IEnumerable<BuscaEmprego.Database.Vaga>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vagas disponíveis</h2>

@{ Html.RenderPartial("~/Views/Shared/_MessagePartial.cshtml"); }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    foreach (var item in Model)
    {
        <div class="card">
            @Html.Label(item.Descricao)
            @Html.Label(item.Salario.ToString())
            @Html.Label(item.Beneficios)
            <input type="button" value="Detalhes da vaga" onclick="window.location = '@Url.Action("Details", new { id = @item.Id })'" />
        </div>
    }
}
